* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    padding: 5%;
    justify-content: center;
}




.carousel {
    margin-right: 20px;
    margin-top: 8px;
    width: 45vw;
}

.detalle-del-producto {

width: 55vw;


}

.codigo {
    font-size: 14px;
}
    

.titulo{
    flex: auto;
    font-size: 22px;
    margin-bottom: 8px;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
    
}

.precio-actual {
    font-size: 33px;
    font-weight: 400;
    color: black;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 7px;
    margin-bottom: 7px;   
   }
   
   .form-group label {
       width: 50px;
       color: #222;
       font-weight: 700;
   }
   
   .form-group select {
       width: 250px;
       height: 50px;
       border: none;
       padding: 12px 15px ;
       background-color: #f7f7f7;
       outline: none;
       cursor: pointer;
   } 

   
   .stock select  {
    padding: 6px 4px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: rgba(0,0,0,.9);
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
    white-space: nowrap;
   }
.mas-detalles {
margin-top: 15px;
    
}
.titulo-de-los-detalles {
    font-size: 18px;
    
}

.cantidad-disponible{
    color: rgba(0,0,0,.55);
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px;
    max-width: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.stock label {
    color: rgba(0,0,0,.9);
    font-size: 16px;
    font-weight: 400;
}

@media  (max-width: 750px)  {

    .container{
       
       flex-direction: column;
    }
    .carousel {
        width: 100%;
        
    }
.detalle-del-producto{
    width: 100%;
}
}