input{
    outline: none;
    border: 1px solid rgb(199, 196, 196);
    background-color:  rgba(0,0,0,1);
}
input:hover{
    border-bottom: 1px solid rgb(63, 225, 184);
    transition: 0.3s;
}
.modal-body{
    background-color:  rgba(0,0,0,1);
}
img:hover {

    box-sizing: border-box;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 2;
}
.btn-style{
    color: rgb(63, 225, 184);
}